<%- include("header") -%>

<section class="sec1">
  <div class="lanText">
    <h2>Realtime Streetlight Feedback Mechanism <br>with Open Source Database including <br> Map Location of Defective Lights</h2>
    <a class="navBtn" href="\map">Defective Lights</a>
  </div>
  <div class="">
  </div>
</section>
